.device-frame {
	display:block;
	position: absolute;
}
.mobile-wrapper{
	background-image: url("Wallpaper/Default.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	max-width: 540px;
	height: 960px;
}

.icon{
	display: inline-block;
	margin: 10px;
	width: 100px;
}
.icon-title {
	color: white;
	font-family: Helvetica, sans-serif;
	padding-top: 8px;
	text-align: center;
	display: block;
}
.icon-image {
	width: 100px;
	height: 100px;
	border-radius: 20px;
}

.mobile-wrapper {
	position: relative;
}
.main-icons {
	padding: 20px 20px 0;
	background-color: rgba(0,0,0,0.2);
	height: 810px;
}
.dock-icons {
	position: absolute;
	bottom: 0;
	padding: 0 20px;
}